@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-container {
  background-image: url(./images/sunset-mountain-landscape-scenery-ai-art-hd-wallpaper-uhdpaper.com-744@1@l.jpg);
  min-height: 100vh;
  background-size: 100% 100%;
}
nav {
  padding: 30px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-1 {
  color: #fff;
  /* margin-top: 32px;
  margin-left: 136px; */
  font-family: Laila;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.5%;
}
ul {
  display: flex;
  align-items: center;
  /* margin-left: 370px; */
  /* margin-top: 36px; */
}
ul li:nth-child(2) {
  margin-left: 76px;
  margin-right: 69px;
}
li {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  list-style-type: none;
}

.image-container {
  display: flex;
  align-items: center;
}
.image-container img:first-child {
  margin-right: 34px;
  width: 36px;
  height: 36px;
}
.image-container img:last-child {
  width: 48px;
  height: 48px;
}
h1 {
  color: #fff;
  width: 779px;
  margin: auto;
  margin-top: 160px;

  text-align: center;
  font-family: Open Sans;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text-2 {
  color: #fff;
  margin: auto;
  margin-top: 57px;
  width: 568px;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-3 {
  width: 214px;
  padding: 13px 24px 14px 22px;
  margin: auto;
  margin-top: 39px;
  border-radius: 10px;
  background-color: #00a651;
  display:block;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
